@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-4"><img src="~/images/GoodBuy-logo.png" /></div>
    <div class="col-sm-8"><h1 style="margin: 70px 0 0 30px;">Shop here for all your electronics needs.<br />We're not the best, but we're good enough.</h1></div>
</div>