@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-5"><img src="~/images/GoodBuy-logo.png" /></div>
    <div class="col-sm-7">
        <h1 style="margin: 60px 0 0 0;">Shop here for all your electronics needs.<br />We're not the "Best", but we're "Good."</h1>
        <h2>Concepts demonstrated on this site</h2>
        <ul>
            <li>ASP.NET MVC</li>
            <li>Entitiy Framework code first design</li>
            <li>Azure deployment</li>
            <li>Seed data initializer</li>
        </ul>
        p>View the code for this application at: <a href="https://github.com/davemaz/GoodBuy">https://github.com/davemaz/GoodBuy</a></p>
    </div>
</div>